<h2>資產列表</h2>

<table style="width: 500px; table-layout: fixed;">
  <colgroup>
    <col style="width: 30%; text-align: center;">
    <col style="width: 40%; text-align: center;">
    <col style="width: 30%; text-align: center;">
  </colgroup>
  <thead>
    <tr>
      <th>名稱</th>
      <th>描述</th>
      <th>狀態</th>
    </tr>
  </thead>
  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td style="text-align: center;"><%= link_to asset.name, "/assets/#{asset.id}/show" %></td>
        <td style="text-align: center;"><%= asset.description %></td>
        <td style="text-align: center;"><%= asset.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
